# -App
APP__DEBUG=True

# JWT
JWT__ALGORITHM=HS256
# Можно сгенерировать командами:
# python -c "import secrets; print(secrets.token_hex(32))
# openssl rand -hex 32 (для Linux)
JWT__SECRET_KEY=change_me
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT__REFRESH_TOKEN_EXPIRE_DAYS=7

# Database (для локального запуска)
DATABASE__URL=postgresql+asyncpg://ecommerce_user:change_me@localhost:5432/ecommerce_db
DATABASE__ECHO=True
DATABASE__POOL_SIZE=5
DATABASE__MAX_OVERFLOW=10

# PostgreSQL для Docker Compose
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ecommerce_db
